# volatile folders
.tmp/*

# jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# github pages
Gemfile.lock

# vs code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
