pre {

	line-height: 1.25;
    margin: 0;
    padding: 0;
}

code {
    font-family: $font-code;
    font-size: 1rem;
    padding: 2px 4px;
    background: $color-accent-alt;
    color: $color-bg-dim;
    border-radius: 5px;
    @include box-shadow(inset 0px 2px 73px -42px $color-accent-irr);            
}

pre code {
    display: block;
    position: relative;
    overflow-x: auto;
    tab-size: 4;
    padding: 2rem;
    -webkit-overflow-scrolling: touch;
}