.navbutton {
    padding: 6px;
    stroke: $color-accent-dim;
}

.navbutton-box{
    float: right;
    padding: 0px 0px 0px 0px;
    border: solid $color-accent-dim;
    border-width: 2px;
    border-radius: 4px;
}

.navbutton-box:hover,
.navbutton-box:focus {
    background-color: $color-bg-dim;
    border-color: $color-bg-dim;
    box-shadow: 0px 0px 40px -5px $color-active-bloom;
    .navbutton {
        stroke: $color-accent-danger;
    }
}

.navbutton-box:active{
    border-color: $color-accent;
    background-color: $color-bg-dim;
    .navbutton {
        stroke: $color-active;
    }
}