.sig {
    color: $color-active;
    text-align: right;
    width: 44.8rem;
    margin: auto;
    text-decoration-thickness: 2px;
}
.svg-sig {
    margin: -2px;
    fill: $color-active;
    vertical-align: text-bottom;
}